.popup__form-submit {
  margin-top: 48px;
  min-width: 358px;
  min-height: 50px;
  background-color: #000000;
  color: #fff;
  border: 0;
  border-radius: 2px;
  transition: all ease 0.5s;
}
.popup__form-submit:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .popup__form-submit {
    min-width: 238px;
    margin-top: 45px;
  }
}
