.profile__add-button {
  padding: 0;
  border: #fff 1px solid;
  min-width: 150px;
  min-height: 50px;
  background: url(../../../images/Plus.svg) no-repeat center;
  background-size: 22px 22px;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    margin: 0 auto;
    min-width: 282px;
    background-size: 16px 16px;
    border: #fff 2px solid;
  }
}
