.popup-edit__form-input {
  margin: 30px 0 0 0;
  padding: 0 0 13px 0;
  border: none;
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  box-sizing: border-box;
  opacity: 1;
}
.popup-edit__form-input:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .popup-edit__form-input {
    margin-top: 51px;
  }
}